/*Global styles*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color:   #5EB9F0;
  --paragraph-color: #60697B;
  --heading-color:   #343F52;
  --skyblue:         #E5F4FD;
  --white:           #fff;
  --light-grey:      #F0F8FE;
  --gray:            #FEFEFE;
  --footer-p:        #CACACA;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  padding: 50px 0 20px;
  position: absolute;
  text-align: center;
  top:  0;
  width: 100%;
}

body{
  font-family: "Urbanist", sans-serif;
}



h1{

  color: var(--heading-color);
  font-size: 54px;
  line-height: 62px;
  font-weight: 600;
  & span{
      color: var(--primary-color);
  }
}

h2{
  color: var(--heading-color);
  font-size: 42px;
  line-height: 50px;
  font-weight: 600;
}

h3{
  color: var(--heading-color);
  font-size: 23px;
  line-height: 32px;
  font-weight: 600;
}

h4{ 
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
}

img{
  max-width: 100%;
}


p{
  color: var(--paragraph-color);
  font-size: 17px;
  line-height: 29px;
  
}

.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25px;
}


ul{
  list-style: none;
  display: flex;
  gap: 40px;

  & li a{
      text-decoration: none;
      color: var(--heading-color);
      font-weight: 600;
  }
}

